<div class="container">
  <button
    type="button"
    class="btn-close float-end"
    [mat-dialog-close]="true"
  ></button>
  <h1 mat-dialog-title>Add new user</h1>
  <mat-dialog-content>
    <form [formGroup]="userForm">
      <div class="mb-3">
        <label for="userName" class="form-label">Name : </label>
        <input
          type="text"
          class="form-control"
          id="userName"
          placeholder="Name"
          formControlName="name"
          required
        />

        <div
          class="fs-6 text-danger"
          *ngIf="
            this.form.name.errors?.required &&
            (this.form.name.dirty || this.form.name.touched)
          "
        >
          Name is required.
        </div>

        <div
          class="fs-6 text-danger"
          *ngIf="
            this.form.name.errors?.minlength &&
            (this.form.name.dirty || this.form.name.touched)
          "
        >
          Name must be at least 4 characters long.
        </div>
      </div>
      <div class="mb-3">
        <label for="userUsername" class="form-label">Username : </label>
        <input
          type="text"
          class="form-control"
          id="userUsername"
          placeholder="Username"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email : </label>
        <input
          type="email"
          class="form-control"
          id="userEmail"
          placeholder="Email"
          formControlName="email"
          required
        />

        <div
          class="fs-6 text-danger"
          *ngIf="
            this.form.email.errors?.required &&
            (this.form.email.dirty || this.form.email.touched)
          "
        >
          Email is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="userPassword" class="form-label">Password : </label>
        <input
          type="password"
          class="form-control"
          id="userPassword"
          placeholder="Password"
          formControlName="password"
          required
        />

        <div
          class="fs-6 text-danger"
          *ngIf="
            this.form.password.errors?.required &&
            (this.form.password.dirty || this.form.password.touched)
          "
        >
          Password is required.
        </div>
      </div>

      <mat-form-field class="mx-2">
        <mat-label>Select role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="user">User</mat-option>
          <mat-option value="admin">Admin</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2">
        <mat-label>Select status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      class="btn btn-primary"
      cdkFocusInitial
      (click)="add()"
      [mat-dialog-close]="true"
      [disabled]="
        this.form.name.errors?.required ||
        this.form.name.errors?.minlength ||
        this.form.id.errors?.required ||
        this.form.email.errors?.required
      "
    >
      Add
    </button>
  </mat-dialog-actions>
</div>
