<swiper
  [slidesPerView]="1"
  [spaceBetween]=""
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [autoplay]="true"
>
  <ng-template swiperSlide>
    <img
      height="400px"
      width="100%"
      src="https://media-exp3.licdn.com/dms/image/C4D22AQHHmiFedvmsDg/feedshare-shrink_800/0/1620912931922?e=1628121600&v=beta&t=OsTXQqc-hnbfPatoKOjh4J91We0TcCmPB_o9wC3vzaE"
      alt=""
    />
  </ng-template>
  <ng-template swiperSlide>
    <img
      height="400px"
      width="100%"
      src="https://media-exp3.licdn.com/dms/image/C4D22AQFmYyIKg62G0Q/feedshare-shrink_800/0/1594641768749?e=1628121600&v=beta&t=CnMuxgW7BIHLE_dW9lOItA_xkHll1ODvrMPunXIUbpM"
      alt=""
    />
  </ng-template>
  <ng-template swiperSlide>
    <img
      height="400px"
      width="100%"
      src="https://media-exp3.licdn.com/dms/image/C4D22AQHbh6Iul4uTQg/feedshare-shrink_800/0/1622181781239?e=1628121600&v=beta&t=N4RNSutN7UBGNCpUSwZoWmkl_SPEA5-cBOiunC93wdY"
      alt=""
    />
  </ng-template>
</swiper>
