<swiper
  [slidesPerView]="1"
  [spaceBetween]=""
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [autoplay]="true"
>
  <ng-template swiperSlide *ngFor="let carousel of carouselData">
    <div class="container">
      <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
          <img
            class="img-fluid"
            width="100%"
            src="{{ carousel.imgSrc }}"
            alt=""
          />
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
          <span class="d-block mb-3">
            <img
              class="img-fluid carousel-logo"
              src="{{ carousel.logo }}"
              alt=""
            />
          </span>
          <p class="label">
            <a href="">
              <span>{{ carousel.label1.heading }} : </span>
              <span> {{ carousel.label1.details }}</span>
            </a>
            <a href="">
              <span>{{ carousel.label2.heading }} : </span>
              <span> {{ carousel.label2.details }}</span>
            </a>
          </p>
          <p class="details">
            <a href="">{{ carousel.details }}</a>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</swiper>
