<div id="contacts" class="contact__container">
    <div class="contact__container__wrapper">
        <div class="container mt-5">
            <h2 class="text-center">Write Us A Line</h2>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe enim
                distinctio ut eaque dolores iure?
            </p>

            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>