<div id="works" class="works__container">
    <div class="works__container__wrapper">
        <div class="container my-5 ">
            <div class="row m-auto justify-content-evenly">
                <h2 class="text-center mb-3">Our recent works</h2>
                <p class="text-center mb-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum
                    obcaecati alias fugit. Dicta consectetur expedita at.
                </p>

                <div *ngFor = "let work of works" class="card col-10 col-sm-2 col-md-3 col-xl-3 py-3" style="width: 18rem">
                    <img src="../../assets/works-1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{work.name}}</h5>
                        <p class="card-text">
                            {{work.description}}
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>