<div class="container">
  <button class="btn btn-info text-white my-3 mx-2" routerLink="/admin/feedbacks">
    See feedbacks
  </button>
  <button class="btn btn-info text-white my-3 mx-2" routerLink="/user">
    View as user
  </button>
  <div>
    <span class="bg-secondary text-uppercase text-light mx-2">Logged in </span>:
    <span class="d-inline-block bg-light text-uppercase mx-2"
      >{{ activeUser[0].name }}(id: {{ activeUser[0].id }})
      {{ activeUser[0].role }}</span
    >
  </div>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="d-flex col-sm-8">
          <h2>User List</h2>
          <button
            type="button"
            class="btn btn-primary rounded-pill mx-5"
            data-bs-toggle="modal"
            data-bs-target="#addOrEditUser"
            (click)="addUserDialog()"
          >
            <i class="bi bi-plus"></i> Add New User
          </button>
        </div>

        <div class="col-sm-4">
          <div class="search-box">
            <i class="fas fa-search"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Search&hellip;"
              [(ngModel)]="searchField"
            />
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Password</th>
          <th>Role</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | userFilter: searchField">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.role }}</td>
          <td
            [ngClass]="{
              greenBackground: user.status == 'active',
              redBackground: user.status != 'active'
            }"
          >
            {{ user.status }}
          </td>
          <td>
            <a class="view" title="view" (click)="viewUserDialog(user)"
              ><i class="bi bi-eye"></i
            ></a>
            <a
              class="edit"
              title="Edit"
              (click)="editUserDialog(user)"
              ><i class="bi bi-pencil-square"></i
            ></a>
            <a
              class="delete"
              title="Delete"
              (click)="delete(user.id)"
              ><i class="bi bi-trash-fill"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
